{%- for crumbsNode in include.nodes -%}
  {%- include active.html node=crumbsNode -%}
  {%- if active -%}
    {%- assign active = false -%}
    <li class="breadcrumb-nav-list-item">
      {%- if crumbsNode.title == page.title -%}
        {{ crumbsNode.title }}
      {%- else -%}
        <a href="{{ crumbsNode.url | absolute_url }}">{{ crumbsNode.title }}</a>
      {%- endif -%}
    </li>

    {%- assign active_path = crumbsNode.path | replace: "index.md", "" -%}
    {%- assign active_path_split = active_path | split: "/" -%}
    {%- assign child_paths = "" | split: "" -%}
    {%- for child in sorted_pages -%}
      {%- unless child.path == crumbsNode.path -%}
        {%- assign child_path_split = child.path | split: "/" -%}
        {%- assign child_path_depth = child_path_split.size | minus: 1 -%}
        {%- if child_path_depth == active_path_split.size %}
          {%- if child.path contains active_path -%}
            {%- assign child_paths = child_paths | append: child.path -%}
          {%- endif -%}
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
    {%- assign crumbsChildren = sorted_pages | where_exp: "item", "child_paths contains item.path" -%}

    {%- include crumbs.html nodes=crumbsChildren check_children=false -%}
  {%- endif -%}
{%- endfor -%}
