{%- assign groups = include.nodes | group_by:"category" | sort:"name" -%}
{%- if groups.size > 0 -%}
  <ul class="navigation-list{{ include.class }}">
    {%- for group in groups -%}
      {%- if group.name != "" -%}
        <h4>{{ group.name }}</h4>
      {%- endif -%}
      {%- for node in group.items -%}
        {%- include active.html node=node -%}
        <li class="navigation-list-item{% if active %} active{% endif %}">
          <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if active %} active{% endif %}">{{ node.title }}</a>
          {%- if active -%}
            {%- assign active = false -%}

            {%- assign active_path = node.path | replace: "index.md", "" -%}
            {%- assign active_path_split = active_path | split: "/" -%}
            {%- assign child_paths = "" | split: "" -%}
            {%- for child in sorted_pages -%}
              {%- unless child.path == node.path -%}
                {%- assign child_path_split = child.path | split: "/" -%}
                {%- assign child_path_depth = child_path_split.size | minus: 1 -%}
                {%- if child_path_depth == active_path_split.size %}
                  {%- if child.path contains active_path -%}
                    {%- assign child_paths = child_paths | append: child.path -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}
            {%- assign children = sorted_pages | where_exp: "item", "child_paths contains item.path" -%}

            {%- if children -%}
              {%- include nav.html class="-child-list" nodes=children -%}
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
